
<table class="table">
  <thead>
    <tr>
   
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Approve</th>
    </tr>
 {{#each user}}
  </thead>
  <tbody>
    <tr>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td> <form action="/approve/{{id}}?_method=PUT" method="post">
            <input type="hidden" name = "_method" value="PUT">
            <button href = "#modal1" class="btn red modal-trigger" type="submit" style="width:250px;">Approve</button>
            
            
            </form></td>
    </tr>
  </tbody>
  {{/each}}
</table